@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;700&display=swap|Lato:300');

/*--------------------------------------------Color*/


/*--------------------------------------------Header*/

header {
    background-color: white;
}

#logo{
    font-family: "Chakra Petch", sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: black;
    margin-left:30px ;
    padding-top: 50px;
    

}

#menu{
    font-family: "Chakra Petch", sans-serif;
    font-size: 110%;
    list-style-type: none;
    letter-spacing: 4px;
    float:right;
    line-height: 75px;
}



#menu li {
    float: right;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover{
    border-bottom: 1px solid #777777;
}


/*--------------------------------------------Hero Image*/


#hero-image{
    height:600px;
    width: 100%;
    background: url('../images/shape1.jpg') no-repeat center center;

    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

#hero-outer{
    height:500px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

#cover-text, #cover-text h2 {
    color: #ffffff;
}

#cover-text {
    font-size: 140%;
    font-family: "Chakra Petch", sans-serif;
    letter-spacing: 4px;
    text-align: center;

    width: 300px;
    height: 300px;
    border-radius: 50%;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(117, 106, 105, 0.7);

    bottom: 30px;
    right: 150px;

    position: absolute;

}

/*--------------------------------------------About*/

#about h2{
    font-family: "Chakra Petch", sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: black;
    margin-left:30px ;
}


/*--------------------------------------------Latest*/

#latest {
    
    font-family: "Chakra Petch", sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: black;
    float:right;
    margin-right:30px ;
}